<header>
  <img
    src="assets/img/self-dunas.jpeg"
    alt="Patrick Santos - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Patrick Santos</h1>
</header>

<aside>
  <div class="container">
    <p>
      Desenvolvedor Full Stack Jr | HTML | CSS | JavaScript | React | TypeScript | Angular | Node.Js
      | GIT | Jest | Python | Django REST Framework | Express.Js | Docker | Wordpress
    </p>
    <p>Rio de Janeiro - RJ, Brasil</p>
    <p>
      Olá! Meu nome é <strong>Patrick Santos</strong>, tenho {{ age }} anos e sou Desenvolvedor Web
      Full Stack.
    </p>

    <p>
      Minha jornada na tecnologia começou no final de 2021, quando tive meu primeiro contato com a
      área por meio de um curso de RPA (Robotic Process Automation). Após anos atuando na área de
      vendas e diante do impacto da pandemia, decidi realizar uma transição de carreira.
    </p>

    <p>
      Em março de 2022, iniciei minha formação como Desenvolvedor Web Full Stack na Kenzie Academy
      Brasil, onde desenvolvi mais de 40 projetos front-end e back-end, incluindo projetos
      individuais e em equipe.
    </p>

    <p>
      Ao longo dessa jornada, desenvolvi habilidades como comunicação eficaz, trabalho em equipe,
      pensamento crítico, resolução de problemas, gestão do tempo, gestão de conflitos e capacidade
      de receber feedback.
    </p>

    <p>
      A empresa que me contratar contará com um profissional comprometido em gerar valor, colaborar
      com o time e buscar evolução constante. Sou determinado, ambicioso e focado em alta
      performance.
    </p>

    <p>
      Meu objetivo profissional é continuar evoluindo na área de tecnologia, contribuindo para o
      sucesso da empresa e crescendo junto à equipe.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary"> Doawnload Cv </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/patrick-santos-91489314a/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/knowledge/whatsapp.svg"
          alt="Icone para contato do whatsapp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5521964631990&text=Ol%C3%A1%20Patrick Has,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong> Envie uma mensagem para: </strong>
            <p>Whatsapp: (21) 9 6463-1990</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/knowledge/email.svg"
          alt="Icone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:patrickagost@hotmail.com" target="_blank">
            <strong> Envie um e-mail para: </strong>
            <p>patrickagost@hotmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
